@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* Yes, I'm aware that this is Google Fonts. I hate it too. If you want to change how I source the font, be my guest. */

body {
    @apply bg-white text-black dark:bg-midnight dark:text-white select-none;
}

@layer utilities {
    .text-gradient {
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.gradient-bg {
    @apply bg-gradient-to-r from-amber-500 via-red-300 to-purple-500;
}

.important-text {
    @apply gradient-bg text-gradient font-bold;
}

.line-height-normal {
    line-height: normal;
}

.reveal-underline {
    position: relative;
}
.reveal-underline::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    bottom: -8%;
    right: 0;
    @apply gradient-bg;
    clip-path: inset(0% 100% 0% 0%);
    transition: clip-path 0.5s;
}
.reveal-underline:hover::after {
    clip-path: inset(0% 0% 0% 0%);
}

.container {
    @apply m-3 px-3 py-6 bg-noon dark:bg-twilight rounded;
}

.link {
    @apply important-text reveal-underline;
}

.input {
    @apply border-black bg-noon dark:border-white dark:bg-twilight border-b-4 text-4xl md:text-6xl border-solid outline-none rounded-t-sm px-1;
}

.button {
    @apply border-black bg-noon dark:border-white dark:bg-twilight border-4 text-4xl md:text-6xl border-solid outline-none rounded-sm px-1;
}

.checkbox {
    transform: scale(4);
    margin: 25px;
}

.label {
    @apply text-xl md:text-3xl;
}

.bad, .bad::placeholder {
    @apply text-red-400 border-red-400;
}

.input-holder {
    @apply w-full text-center;
}
.input-holder .input {
    @apply max-w-full;
}


.mx-dyn {
    @apply mx-12 md:mx-24;
}

.m-dyn {
    @apply m-8 md:m-16;
}

.flex-dyn {
    @apply flex-col md:flex-row;
}

.text-dyn {
    @apply text-4xl md:text-6xl;
}

.wrapping {
    @apply whitespace-pre-wrap break-words;
}

/* purgecss start ignore */
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #282828;
    @apply md:text-lg wrapping;
}

.hljs,
.hljs-subst {
    color: #ebdbb2;
}

/* Gruvbox Red */
.hljs-deletion,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag {
    color: #fb4934;
}

/* Gruvbox Blue */
.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-title,
.hljs-variable {
    color: #83a598;
}

/* Gruvbox Yellow */
.hljs-attr,
.hljs-params,
.hljs-template-tag,
.hljs-type {
    color: #fabd2f;
}

/* Gruvbox Purple */
.hljs-builtin-name,
.hljs-doctag,
.hljs-literal,
.hljs-number {
    color: #8f3f71;
}

/* Gruvbox Orange */
.hljs-code,
.hljs-meta,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable {
    color: #fe8019;
}

/* Gruvbox Green */
.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol {
    color: #b8bb26;
}

/* Gruvbox Aqua */
.hljs-attribute,
.hljs-bullet,
.hljs-class,
.hljs-function,
.hljs-function .hljs-keyword,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-tag {
    color: #8ec07c;
}

/* Gruvbox Gray */
.hljs-comment {
    color: #928374;
}

/* Gruvbox Purple */
.hljs-link_label,
.hljs-literal,
.hljs-number {
    color: #d3869b;
}

.hljs-comment,
.hljs-emphasis {
    font-style: italic;
}

.hljs-section,
.hljs-strong,
.hljs-tag {
    font-weight: bold;
}


.success {
    @apply text-green-400;
}

.failure {
    @apply text-red-400;
}
/* purgecss end ignore */